<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.pavanecce.eclipse.equinox.target" sequenceNumber="105">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ocl.examples.source.feature.group" version="3.3.0.v20130611-1511"/>
<unit id="org.eclipse.ocl.source.feature.group" version="3.3.0.v20130610-1317"/>
<unit id="org.eclipse.ocl.feature.group" version="3.3.0.v20130610-1317"/>
<unit id="org.eclipse.ocl.ui.source.feature.group" version="1.1.0.v20130530-0730"/>
<unit id="org.eclipse.emf.validation.ocl.feature.group" version="1.7.0.201306111341"/>
<unit id="org.eclipse.ocl.doc.feature.group" version="3.3.0.v20130611-1511"/>
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="4.1.0.v20130611-1511"/>
<unit id="org.eclipse.ocl.uml.source.feature.group" version="4.1.0.v20130610-1317"/>
<unit id="org.eclipse.emf.validation.ocl.source.feature.group" version="1.7.0.201306111341"/>
<unit id="org.eclipse.ocl.doc.source.feature.group" version="3.3.0.v20130611-1511"/>
<unit id="org.eclipse.ocl.ui.feature.group" version="1.1.0.v20130530-0730"/>
<unit id="org.eclipse.ocl.examples.feature.group" version="3.3.0.v20130611-1511"/>
<unit id="org.eclipse.ocl.edit.feature.group" version="4.0.100.v20130611-1511"/>
<unit id="org.eclipse.ocl.uml.feature.group" version="4.1.0.v20130610-1317"/>
<unit id="org.eclipse.ocl.core.sdk.feature.group" version="4.1.0.v20130610-1317"/>
<unit id="org.eclipse.ocl.all.feature.group" version="4.1.0.v20130610-1317"/>
<unit id="org.eclipse.emf.query.ocl.source.feature.group" version="1.7.0.201306111332"/>
<unit id="org.eclipse.emf.query.ocl.feature.group" version="1.7.0.201306111332"/>
<unit id="org.eclipse.ocl.edit.source.feature.group" version="4.0.100.v20130611-1511"/>
<unit id="org.eclipse.platform.sdk" version="4.3.0.I20130605-2000"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="4.1.0.v20130610-0712"/>
<unit id="org.eclipse.datatools.enablement.sdk.feature.feature.group" version="1.11.0.v201302211047-7I9v-FE9JgQGiXyVBMyG1XWskAK0"/>
<unit id="org.eclipse.jdt.feature.group" version="3.9.0.v20130605-2000"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="1.4.0.20130601-0317"/>
<unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.11.0.v201302211047-7PAi1FEpPZFKYstHw29WUuTdipv3"/>
<repository location="http://download.eclipse.org/releases/kepler/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
</target>
